$largephone: "only screen and (min-width: 576px)";
$tablet: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 992px)";

$border-extra-light-grey: #F2F2F2;
$border-light-grey: #CCCCCC;
$border-dark-grey: #222222;
$white: #FFFFFF;
$font-color-light: #888888;
