$desktop: "only screen and (min-width: 992px)";

$border-extra-light-grey: #F2F2F2;
$border-light-grey: #CCCCCC;
$border-dark-grey: #222222;
$white: #FFFFFF;
$font-color-light: #888888;
$required-color: #c90000;

$button-border-width-active: 3px;
$button-border-width: 2px;

$button-border-width-active-desktop: 2px;
$button-border-width-desktop: 1px;

$heading-underline: 1px solid $border-extra-light-grey;
